#dashboardMainContainer {
    display: flex;
    flex-direction: row;
}

.dashboard_sidebar {
    width: 20%;
    background: rgba(14, 31, 14, 0.954);
    height: 100vh;
    padding: 0;
}

.dashboard_logo {
    color: #eeedbd;
    font-size: 30px;
    text-align: center;
    background-color: #2e712e98;
    padding: 1%;
    border-bottom: 2px solid rgb(238, 237, 189);
    margin-bottom: 20px;
}

.dashboard_sidebar_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.dashboard_sidebar_user img {
    width: 60px;
    display: inline-block;
    border-radius: 10%;
    border: 2px solid #13cd02;
    vertical-align: middle;
    margin-right: 4px;
}

.dashboard_sidebar_user span {
    top: 20%;
    font-size: 20px;
    text-transform: uppercase;
    color: #eeedbd;
    display: inline-block;
}

.dashboard_topNav {
    color: darkgreen;
    padding: 20px;
}

.dashboard_topNav a {
    color: darkgreen;
    font-size: 20px;
}

#logoutBtn {
    float: right;
}

.dashboard_menu_lists {
    padding: 0;
    margin: 0;
    list-style: none;
    text-transform: uppercase;
}

.dashboard_menu_lists li {
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
}

.dashboard_menu_lists li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 16px;
}

.dashboard_menu_lists li a:hover {
    color: #fff;
}

.dashboard_menu_lists li:hover {
    background: rgba(181, 173, 117, 0.444);
    color: #fff;
    transition: background 0.3s, color 0.3s;
}